.container-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.item{
    width: 300px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.item label{
    font-weight: 600;
}
.item_button{
    margin-top: 10px;
    width: 300px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}