<div class="container-form">
  <form >
    <div class="item">
      <label>Nombre del producto</label>
      <input [formControl]="name" class="input" type="text" />
    </div>
    <div class="item">
      <label>Precio</label>
      <input [formControl]="price" class="input" type="number" />
    </div>
    <div class="item_button">
      <button type="button" (click)="addToList()">Agregar a la lista</button>
    </div>
  </form>
</div>
<app-preview
  [name]="name.value"
  [price]="price.value"
  ></app-preview
>
<app-list [product]="product"></app-list>
